
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;

}
body{
    
    width: 100%;
    scroll-behavior: smooth;
   



}


header{
    position:relative; 
   
   align-items: center;
}
.navbar{
    position: fixed;
    
    width: 100%;
  height: 12%;
 
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  z-index: 999;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
 
  
}
.left-logo{
   
    margin-left: 60px;
}

.navbar .links{
    display: flex;
    gap:1.2rem; 
    margin-left: 60px;
}
.navbar .links li:hover{
    filter: blur(1px);
    transition: 0.1s ease;
   transform:  scale(1.01); 
}
ul li{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: 15px;
    color: #7E1BCC;
    font-weight: 700;
    letter-spacing: 1px;
    line-height:16px
}
ul li:hover{
    cursor: pointer!important ;
    text-decoration: underline;
}
.navbar .Audius-center-logo{
    align-items: center;
    justify-content: center;
    margin-left: -50px;
}
.navbar .Audius-center-logo img{
    width :70%;
    height: 40px;
}

.button-65 {
    appearance: none;
    width: 12%;
   
    
    background-color: #cc0fe0;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    
    
    color: #ffffff;
    cursor: pointer;
    
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
   
    align-items: center;
    
   
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    padding-top: 9px;
    
   
   
  }
  
  .button-65:hover {
    background-color: #d62fe9;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
     transform:scale(1.05);
  }
  
  .button-65:hover:after {
    opacity: .5;
  }
  
  .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-65:active:after {
    opacity: 1;
  }
  

/*
.dropdown-menu{
    display: none;
   width: 100%;
   height: 40px;
   backdrop-filter: blur(10px);
  
   font-size: 16px;
   color: #ffff;
  
   list-style: none;
   padding-top: 10px;
   left: 20px;
   gap: 2rem;

}
.dropdown-menu img{
    width:300px;
    height: 50px;
    align-items: center;
    padding-left: 150px;
}
.dropdown-menu li{
    padding: 0.5rem;
    display: flex;
    
    align-items: flex-start;
    font-size: 30px;
    gap: 1rem;
    font-weight: bold;
    padding-top: 20px;
    cursor: pointer;
}
.dropdown-menu .S-l-btn{
    width: 100%;
    height: 50px;
    padding: 12px;
    padding-left: 150px;
    font-size: 20px;
    background: #ffff;
    color: #7E1BCC;
    text-decoration: none;
}
*/
/*Respansive*/
/*
@media (max-width:992px){
 .navbar .links,
 .navbar .S-l-btn{
    display: none;
 }  
 .navbar .S-l-btn{
    display: block;
 }
 
 .dropdown-menu{
    display: block ;
 }
 */
 
header .navbar .left-logo{
   width: 40%;

}
.Audius-center-logo{
width: 15%;
}
.right-logo{
    width: 20%;
    margin-left: -20px;
}
.container{
    width: 100%;
    height: 100%;
}
main .container .home-div img{
    width: 100%;
    height: 130vh;
    position: relative;
    object-fit: cover;
    z-index: -1;
    

}
.home-div1{
   
    display: flex;

}
.home-div-left{
    position: relative;
  width: 63%;
  height: 80%;
    top:20%;
  left: 50%;
  transform: translate(-69%, -150%);
  margin-top: 150px;
  
  
}
.home-div-left h1{
    font-weight: 900;
    color: #ffff;
    font-size: 100px;
    line-height:120px;
    
   
    font-family: "Avenir Next LT Pro", Condensed;
   
    text-decoration: none solid rgb(255, 255, 255);
    letter-spacing: 2.2px;
    text-align: start;
    vertical-align: baseline;
    text-shadow:  2px #000000;
    font-stretch: extra-condensed;


}
.home-div-right{
    
    position: relative;
    top: 20%;
    left: 45%;
    transform: translate(-180%, -73%);
   
   
}
.home .home-div-right img:last-child{
    position: absolute;
    width: 300px;
    height: 500px;
    z-index: 1;
    -webkit-transform: rotate(8.5deg); 
    transform: rotate(8.59deg);
    overflow: hidden;
  
    
   
    
}
.home .home-div-right img{
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

.home-div-left h3{
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: start;
    margin: 16px 0px 72px;
    line-height: 44px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-top: 30px;

}
.home-div-left .btn-download{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin-top: -60px;
    margin-left: -5px;
}
.home-div-left .btn-download .sign-up-btn{
    background-color: #ffff;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    
    
    color: #7E1BCC;
    cursor: pointer;
    
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
   
    align-items: center;
    width: 50%;
    padding: 11px;
    padding-left: 60px;
   
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
}
.home-div-left .btn-download .sign-up-btn:hover{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    scale: 1.05;
}
.home-div-left .btn-download .download-btn{
background-color: transparent;
border-radius: 10px;
border-style: none;
box-shadow: none;
cursor: pointer;
font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
   
font-size: 18px;
font-weight: 700;
height: 50px;
width: 55%;
letter-spacing: normal;
line-height: 1.5;
outline: none;
color: #7E1BCC;

margin-left: 30px;
text-decoration: none;
padding: 8px;
    padding-left: 23px;
padding-top: 15px;
    display: flex;
    transition: filter 0.3s ease-in-out;
    -webkit-transform: scaleX(1); 
    transform: scaleX(1); 
    transition: all .15s ease-in-out; 
    -webkit-user-select: none; 
    user-select: none;
  
}
.home-div-left .btn-download .download-btn h3{
    margin-left: 10px;
    margin-top: -12px;
    font-size: 18px;
    text-decoration: none;
}
.home-div-left .btn-download .download-btn:hover{
    background: hsla(0,0%,100%,.2); 
    -webkit-transform: scale3d(1.03,1.03,1.03); 
    transform: scale3d(1.03,1.03,1.03);
    text-decoration: none;
}

/* SECOND SCREEN DIV*/

.scnd-scrn-div{
    width: 100%;
    
    display: flex;
    flex-direction: column;
 
}
.scnd-scrn-div .lap-imog {
    width: 100%;
    height: 650px;
    align-items: center;
    justify-content: center;
    margin-top:-550px ;
    padding-left: 170px;
}
.scnd-scrn-div .lap-imog img{
    width: 80%;
    height: 600px;
}

    .scnd-scrn-div .description-lap{
}
.scnd-scrn-div .description-lap h3{
color: #A3A1B2;
font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 34px;
line-height: 42px;
vertical-align: baseline;
letter-spacing: normal;
font-weight: 800;
text-transform: uppercase;
text-decoration: none solid rgb(163,161,178);
text-align: center;
text-indent: 0;

}
.scnd-scrn-div .description-lap h1{
 color: #7E1BCC;
 font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 64px;
 line-height: 78px;
 vertical-align: baseline;
letter-spacing: normal;
margin: 0px 0px 16px;
font-weight: 800;
text-transform: uppercase;
text-decoration: none solid rgb(133,129,153);
text-align: center;
text-indent: 0px;   
}
.scnd-scrn-div .description-lap .para-div{
    display:flex;
    margin-top: 20px;

    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.scnd-scrn-div .description-lap .para-div .para-1{
    color: #858199;
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 34px;
    vertical-align: baseline;
    margin: 0px 0px 16px;
    font-weight: 500;
    text-decoration: none solid rgb(133,129,153);
    text-align: center;
    text-indent: 0px;
}
.scnd-scrn-div .description-lap .para-div .para-2{
    color: #858199;
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 34px;
    vertical-align: baseline;
    margin: 0px 0px 16px;
    font-weight: 500;
    text-decoration: none solid rgb(133,129,153);
    text-align: center;
    text-indent: 0px;
}
.thrd-scrn-div{
    
    margin-top: 40px;
}
.thrd-scrn-div .heading{
   width: 100%;
}
.thrd-scrn-div .heading {
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    width: 70%;

}

.thrd-scrn-div .heading  h2{
    color: #7E1BCC;
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 47px;
    line-height: 56px;
    vertical-align: baseline;
    margin: 0px 125px 16px;
    font-weight: 900;
    text-decoration: none solid rgb(126,27,204);
    text-align: start;
    text-indent: 0px;


  
}
.thrd-scrn-div .heading  h3{
    color: rgb(133,129,153);
    font-family:"Avenir Next LT Pro",Condensed ;
    font-size: 28px;
    margin: 0px 125px 16px;
    margin-top: -10px;
   
   
    line-height: 34px;
    vertical-align: baseline;
    font-weight: 500;
    text-decoration: none solid rgb(133,129,153);
    text-align: start;
    text-indent: 0px;
    
}
.images-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 2rem;
    
   margin: auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    


}
.images{
   
    height: 70%;
    width: 70%;
    margin: auto;
    
    


}
.images-grid .images .inside-image {
   
    display: flex;
    flex-direction: column;
    
   
    justify-content: center;
    align-items: center;
}
.images-grid .images .inside-image img{
    width: 250px;
border: 1px solid #ccc;
box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
max-width: 100%;
border-radius: 50%;
}
.images-grid .images .inside-image .name{
  color:#858199;
  font-size: 21px;
  line-height: 25px;
  vertical-align: baseline;
  margin: 18px 51.7656 0px;
  font-weight: 500;
  text-decoration: none solid rgb(133,129,153);
  text-align: center;
 
}


/*Fourth SCREEEN DIV  */
.fourth-scrn-div{
    margin-top: 150px;
  
   position: relative;
  width: 100%;
  background: linear-gradient(129.23deg,#f3f2f5 4.22%,#fbfbfc 95.97%); 
  -webkit-clip-path: polygon(0 8%,100% 0,100% 100%,0 100%); 
  clip-path: polygon(0 8%,100% 0,100% 100%,0 100%); 
  
  justify-content: center; 
  padding: 120px 100px 114px; 
 height: 110vh;
}
.background {
   
  }
  .fourth-scrn-div .content{
    position: relative;
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
  }
.fourth-scrn-div h3{
    color: #7E1BCC;
    font-family:"Avenir Next LT Pro",Condensed ;
    font-size: 50px;
    line-height: 56px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none solid rgb(126,27,204);
    text-align: center;
  
    
}
.fourth-scrn-div  .content h4{
    color: #858199;
    font-family:"Avenir Next LT Pro"
    "Helvetica Neue"
    Helvetica
    Arial
    sans-serif ;
    font-size: 25px;
    line-height: 31px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 500;
    text-transform: none;
    text-decoration: none solid rgb(133,129,153);
    text-align: center;
}
.grid{
  
    margin: auto;
    margin-top: 50px;
    width:84%;
    height: 100%;
   
    display: flex;
    gap: 1rem;
    
}
.grid-colon-1{
    width: 50%;
    height: 94%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.grid-colon-1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.grid-colon-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.row{
    width: 100%;
    height: 29%;
    background: #ffffff;
    display: flex;
    gap: 2rem;
    border-radius: 10px;
    box-shadow: #A3A1B2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.icon-right-sec{
    display: flex;
    flex-direction: column;
    width: 80%;
  


}
.row .icon-area{
    align-items: center;
    justify-self: center;
    width: 15%;
}
.row .icon-area i{
   padding: 38px;
   padding-top: 50px;
   
}
.icon-right-sec .head{
  color: #ffffff;
  background-color: #7E1BCC;
  font-family:"Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif ;  
  font-size: 13px;
  line-height: 13px;
  vertical-align: baseline;
  letter-spacing: 1px;
  padding: 5px 8px 3px;
  font-weight: 900;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  width: 50%;
  margin: 20px;
  height: 20%;
  padding-top: 6px;
 

}
.icon-right-sec .desccription{
    color: rgb(133,129,153);
    font-family:"Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    text-decoration: none solid rgb(133,129,153);
     text-align: start; 
}
.icon-right-sec .desccription span{
    color: #7E1BCC;
}
.fifth-scrn-div {
    width: 99.8%;
    height: 100%;
}
.fifth-scrn-div .fifth-head{
    width: 80%;
    margin: 90px;
   
    height: 20%;
    margin-left: 100px;
}
.fifth-scrn-div .fifth-head .fifth-head-1{
    width: 50%;
    display: inline;
}
.fifth-scrn-div h3{
    color: #7E1BCC;
    font-family: "Avenir Next LT Pro",Condensed;
    font-size: 60px;
    line-height: 56px;
    vertical-align: baseline;
   letter-spacing: normal;
   margin: 0px 0px 16px;
   font-weight: 900;
   text-transform: uppercase;
   text-decoration: none solid rgb(133,129,153);
   text-align: start;
   text-indent: 0px; 
  
}
.fifth-scrn-div h4{
    color: #A3A1B2;
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    line-height: 31px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 700;
    
    text-decoration: none solid rgb(133,129,153);
    text-align: start;
    text-indent: 0;   
    margin-top: -10px;
}
.fifth-scrn-div .image-grid{
    width: 50.8%;
    margin: auto;
    margin-left: 27%;
   
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-row-gap: 80px;
   grid-column-gap: 30px;
   justify-content: center;
   
   
      
}
.fifth-scrn-div .image-grid .box{
   
border-radius: 8px;
background: transparent;
text-align: center;

width: 300px;
height: 300px;


}
.fifth-scrn-div .image-grid .box img{
    height: 90%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,2);
}
.fifth-scrn-div .image-grid .box h6{
    color:#858199;
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    vertical-align: baseline;
    font-weight: 600;
    text-decoration: none solid rgb(133,129,153);
    text-align: center;
    padding-top: 20px;
}

.fifth-scrn-div .image-grid .box img:hover{
    background-color: #f7f7f7; 
    box-shadow: 0 10px 20px -1px rgba(25,0,96,.5); 
    -webkit-transform: scale3d(1.08,1.08,1.08); 
    transform: scale3d(1.08,1.08,1.08);
  
}
.sixth-scrn-div{
    width: 99.8%;
    height: 80vh;
    margin-top: 200px;

}
.sixth-scrn-div img{
    width: 100%;
    height: 100%;
}
.seventh-scrn-div{
    width: 99.8%;
    height: 40vh;
   
  
}
.seventh-scrn-div img{
    width: 100%;
    height: 100%;
   
 
}
.eigth-scrn-div{
    margin: auto;
    width: 100%;
    height: 50vh;
    display: flex;
    
    justify-content: space-between;
    gap: 2rem;

}
.eigth-scrn-div img{
   width: 99.8%;
    height: 100% ; 
    position: relative;
}
.eigth-scrn-div .left-scrn{
    position: absolute;
    width: 70%;
    height: 50vh;
    padding: 70px;
    padding-top: 125px;
   
}
.eigth-scrn-div .left-scrn .heads{
    color: #ffffff;
    font-family: "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 60px;
    vertical-align: baseline;
    margin: 0px 0px 20px;
    font-weight: 900;
    text-decoration: none solid rgb(255,255,255);
    text-align: start;

}

.eigth-scrn-div .right-scrn{
 position: absolute;
 width: 50%;
 height: 50vh;
 margin-left: 50%;
}
.eigth-scrn-div .right-scrn img{
    width: 50%;
    height: 118%;
    margin-left: 200px; 
    margin-top: -55px; 
  
}
.eigth-scrn-div .left-scrn .sign-up-btn{
    display: flex;
    gap: 4px;
    background-color: #ffff;
    border-radius: 15px;
   
    box-shadow: none;
    
    
    color: #7E1BCC;
    cursor: pointer;

    width:28%;
    height: 44%;
    
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    align-items: center; 
    background-color: #fff; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 5px 20px 0 rgba(25,0,96,.25); 
    color: #7e1bcc; 
    cursor: pointer; 
    display: inline-flex; 
    font-size: 20px; 
    font-weight: 700; 
    justify-content: center; 
    line-height: 22px; 
    padding: 16px 40px; 
    text-align: center; 
    -webkit-transform: scaleX(1); 
    transform: scaleX(1); 
    transition: all .15s ease-in-out; 
    -webkit-user-select: none; 
    user-select: none;
    text-decoration: none solid rgba(0,0,0,0.3);
}

.eigth-scrn-div .left-scrn .sign-up-btn:hover{
background-color: #f7f7f7; 
box-shadow: 0 10px 20px 0 rgba(25,0,96,.25); 
-webkit-transform: scale3d(1.03,1.03,1.03); 
transform: scale3d(1.03,1.03,1.03);
}
footer {
    width: 98%;
    height: 50vh;
    margin: auto;
    margin: 20px;
    margin-top: 50px;
   

}
footer .logo-btn-sec{

    width: 90%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
footer .logo-btn-sec img{
    width: 20%;
    align-items: flex-start;
}


footer .logo-btn-sec .sign-up-btn {
    background-color: #cc0fe0;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    
    
    color:  #ffff;
    cursor: pointer;
    
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: 700;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
   
    align-items: end;
    width: 18%;
    padding: 10px;
    padding-left: 30px;
   
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
}
footer .logo-btn-sec .sign-up-btn:hover{
    background-color: #cc0fe0; 
    box-shadow: 0 10px 20px 0 rgba(25,0,96,.25); 
    -webkit-transform: scale3d(1.03,1.03,1.03); 
    transform: scale3d(1.03,1.03,1.03);
}
footer .foooter-details{
   
    width: 90%;
    height: 40%;
    margin: auto;
    padding-top: 60px;
    border-top: 1px solid #858199;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
}
footer .foooter-details .lft-sec{
    display: flex;
    gap: 2rem;

}
footer .foooter-details .lft-sec .rows{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    text-align: start;
}

footer .foooter-details .rows{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
footer .foooter-details .lft-sec .rows a,footer .foooter-details .miid-sec p,footer .foooter-details .miid-sec .rows1 a{
  color: #858199;
  font-family:"Avenir Next LT Pro"
  "Helvetica Neue"
  Helvetica
  Arial
  sans-serif ;
  font-size: 18px;
  line-height: 24px;
  vertical-align: baseline;
  font-weight: 500;
  text-decoration: none ;
  text-align: start;

}
footer .foooter-details .rows a:hover,footer .foooter-details .miid-sec a :hover{
    cursor: pointer;
    text-decoration: underline solid rgb(133,129,153);
}

footer .foooter-details .miid-sec{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    
}
footer .foooter-details .miid-sec p{
    text-align: center;  
}
footer .foooter-details .miid-sec .rows1{
     display: flex;
     justify-content: space-between;
}
footer .foooter-details .rht-sec{
    display: flex;
   gap:5rem;
    align-items: center;
}
footer .foooter-details .rht-sec i:hover{
    cursor: pointer;
    transform: scale(1.4);
}

